@import url('https://fonts.googleapis.com/css2?family=Inika:wght@700&family=M+PLUS+1&family=Marcellus+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    max-height: 108px;
    background: linear-gradient(0deg, rgba(20, 18, 18, 0.7), rgba(20, 18, 18, 0.7)), url(image.jpg);

}

.header_title {
    text-align: center;
    padding: 25px 404px 31px 488px;
}

.header_title span {
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: 0.1em;
}

.banner {
    background-image: url(../images/image\ 1.png);
    height: 803px;
    padding-top: 208px;
    padding-left: 118px;
    background-size: cover;
    background-repeat: no-repeat;

}

.content {
    background-image: url(/images/flag.png);
    height: 272px;
    background-repeat: no-repeat;
    width: 99%;
    text-align: center;
    padding-left: 118px;
    font-size: 48px;
    line-height: 157.3%;
    color: #FFFFFF;

}

.h1 {
    margin: 72px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 157.3%;
    color: #000000;
}

.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
}

.main {
    padding: 0 80px;

}

.card {
    display: inline-block;
    width: 30%;
    vertical-align: top;

}

.card__margin {
    margin: 0 4.5%;


}

.card__image {
    width: 100%;


}

.card__title {
    font-weight: 700;
    font-size: 24px;
    padding: 10px;

}

.card__title:hover {
    color: #1E8DF2;
}


.card__subtitle {
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
    padding: 10px;
}

.map__content {
    text-align: center;
    margin-top: 74px;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;

}

.content__line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
    margin: 0 auto;
}

.content__image {
    padding-top: 41px;
    text-align: center;
}

.btn {
    background: #2A61F0;
    width: 591px;
    min-height: 101px;
}

.btn__text {
    font-weight: 700;
    font-size: 64px;
    line-height: 157.3%;
    color: #FFFFFF;
}

footer {
    margin-top: 21px;
    background: #2F4A4B;
    color: #A89D9D;
}

a {
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #A89D9D;
    padding-left: 60px;
}

.email {
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #A89D9D;
}

.telephone {
    text-align: center;
    padding-top: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-decoration: none;

}

.social {
    text-align: center;
}