@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #1C1C1C;
}

body .footer {
    margin: 12px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 50px;
}

.header .menu,
ul {
    display: flex;
    list-style: none;
}

.menu__link {
    text-decoration: none;
    margin: 25px 10px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    transition: color 0.3s linear;
}

.menu__link:hover {
    color: #FFB742;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 26px;
    background-color: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;

}

.button__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    color: #212529;
    font-size: 18px;
    font-weight: 700;
}

.busines_card {
    width: 100%;
    height: 100%;
    margin-top: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.visiter {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
}

.visiter__text {
    text-decoration-line: underline;
    color: #FFB742;

}

.visiter__proffesion {
    padding: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}

.visiter__proffesion_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

.logo {
    padding-top: 22px;
}

.avatar {
    width: 210px;
    height: 222px;
    border-radius: 100px;
}

.parents {
    display: flex;
    justify-content: space-between;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 72px;
    width: 416px;
    height: 120px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background: #292B2E;
}

.cards:hover {
    background-color: #FFB742;
}

.cards_number {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    color: #000000;
}

.cards_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 49px 0;
}

.banner>div {
    width: 50%;
}

.banner__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
}

.banner__title_text {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
}

.banner__about {
    padding-top: 5px;
}

.banner__about_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: #FFFFFF;
}

.banner__biography {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D5D5D5;
    padding-top: 15px;
}

.bunner__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    padding: 12px 26px;
    width: 147.57px;
    background-color: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
}

.bunner__button a {
    text-decoration: none;
    color: #212529;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.works {
    display: flex;
    flex-direction: column;
    margin: 0 91px 0 115px;
    width: 85%;
    margin-bottom: 20px;
}

.works__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 160px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
}

.works__button_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
}

.works__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.works__title__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.works__nav {
    display: flex;
    justify-content: center;
}

.works__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 40%;
    padding-top: 20px;
}

.work__item a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    transition: color 0.5s linear;
}

.work__item a:hover {
    background: #FFB742;
    border-radius: 3px;
    color: #212529;
    transition: color 0.5s linear;
}

.works__image {
    display: flex;
    flex-wrap: wrap;
    gap: 31px;
    margin: 0 91px 0 115px;
    margin-top: 50px;
    margin-bottom: 116px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 50px;

}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.footer_hero__info {
    display: flex;
    flex-direction: column;
}

.hero__name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
}

.footer__profession {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
    padding-top: 30px;
}

.footer_hero__link_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
}

.footer_hero__link_items {
    display: flex;
    flex-direction: column;
    color: #7B7B7B;
    padding-top: 5px;
}

.footer_hero__link_items li {
    padding-top: 8px;
}

.footer_hero__media_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
}

.footer_hero__news_text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
}

.footer_hero__news_paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 36px;
    color: #7B7B7B;
}